/*Global*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.7; 
    color: ##3a3b3d;
	background-color:#e9eab1;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 200px;
}
h1{
	font-size:70px;
}
head p {
text-decoration:overline;
}
footer{
	padding:5px;
	margin-top:30px;
	background-color:#4e122c;
	color:white;
	
	
}
footer span{
	font-weight:bold;
}