/*Global*/
*, *::before, *::after{
    box-sizing: border-box;
	}
	
body{
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.7; 
    color: black;
	background-color:#e9eab1;
	}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 200px;
	}
	
/*head*/
h1{
	font-size:70px;
	}
	
head p {
text-decoration:overline;
	}
	
section	.container{
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	}
	
/*footer*/
footer{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 5px 300px 5px 300px;
	margin-top: 30px;
	background-color: #4e122c;
	color: white;
}
	
.line{
	position: absolute;
    content: '';
    height: 80px;
    width: 1000px;
    background-color: orange; 
	padding: 20px;
	opacity:0.3;
    }

	
footer span{
	font-weight: bold;
	}